parameters:
	ignoreErrors:
		-
			message: "#^Method SwagVatIdValidation\\\\Bootstrap\\\\Installer\\:\\:createMailTemplate\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Bootstrap/Installer.php

		-
			message: "#^Method SwagVatIdValidation\\\\Bootstrap\\\\Installer\\:\\:install\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Bootstrap/Installer.php

		-
			message: "#^Method SwagVatIdValidation\\\\Bootstrap\\\\Uninstaller\\:\\:removeMailTemplate\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Bootstrap/Uninstaller.php

		-
			message: "#^Method SwagVatIdValidation\\\\Bootstrap\\\\Uninstaller\\:\\:removeMailTranslations\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Bootstrap/Uninstaller.php

		-
			message: "#^Method SwagVatIdValidation\\\\Bootstrap\\\\Uninstaller\\:\\:removeMailTranslations\\(\\) has parameter \\$mailTemplateId with no typehint specified\\.$#"
			count: 1
			path: Bootstrap/Uninstaller.php

		-
			message: "#^Method SwagVatIdValidation\\\\Bootstrap\\\\Uninstaller\\:\\:uninstall\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Bootstrap/Uninstaller.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: Bootstrap/Uninstaller.php

		-
			message: "#^Method SwagVatIdValidation\\\\Bundle\\\\AccountBundle\\\\Constraints\\\\AdvancedVatIdValidator\\:\\:validate\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Bundle/AccountBundle/Constraints/AdvancedVatIdValidator.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 2
			path: Bundle/AccountBundle/Constraints/AdvancedVatIdValidator.php

		-
			message: "#^Cannot call method getId\\(\\) on Shopware\\\\Models\\\\Country\\\\Country\\|null\\.$#"
			count: 1
			path: Bundle/AccountBundle/Service/Validator/AddressValidatorDecorator.php

		-
			message: "#^Method SwagVatIdValidation\\\\Bundle\\\\AccountBundle\\\\Service\\\\Validator\\\\AddressValidatorDecorator\\:\\:addVatIdValidation\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Bundle/AccountBundle/Service/Validator/AddressValidatorDecorator.php

		-
			message: "#^Method SwagVatIdValidation\\\\Bundle\\\\AccountBundle\\\\Service\\\\Validator\\\\AddressValidatorDecorator\\:\\:validate\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Bundle/AccountBundle/Service/Validator/AddressValidatorDecorator.php

		-
			message: "#^Parameter \\#1 \\$company of method SwagVatIdValidation\\\\Components\\\\ValidationServiceInterface\\:\\:isVatIdRequired\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: Bundle/AccountBundle/Service/Validator/AddressValidatorDecorator.php

		-
			message: "#^Cannot call method getIso\\(\\) on Shopware\\\\Models\\\\Country\\\\Country\\|null\\.$#"
			count: 1
			path: Components/AddressFormTypeDecorator.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\AddressFormTypeDecorator\\:\\:buildForm\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Components/AddressFormTypeDecorator.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\AddressFormTypeDecorator\\:\\:configureOptions\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Components/AddressFormTypeDecorator.php

		-
			message: "#^Cannot call method getId\\(\\) on Shopware\\\\Models\\\\Country\\\\Country\\|null\\.$#"
			count: 1
			path: Components/ValidationService.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\ValidationService\\:\\:removeVatIdFromBilling\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Components/ValidationService.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\ValidationService\\:\\:sendShopOwnerEmail\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Components/ValidationService.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 3
			path: Components/ValidationService.php

		-
			message: "#^Parameter \\#1 \\$company of method SwagVatIdValidation\\\\Components\\\\ValidationService\\:\\:isVatIdRequired\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: Components/ValidationService.php

		-
			message: "#^Parameter \\#1 \\$email of method Zend_Mail\\:\\:addTo\\(\\) expects array\\|string, string\\|true given\\.$#"
			count: 1
			path: Components/ValidationService.php

		-
			message: "#^Parameter \\#2 \\$message of method Monolog\\\\Logger\\:\\:log\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: Components/ValidationService.php

		-
			message: "#^Property SwagVatIdValidation\\\\Components\\\\ValidationService\\:\\:\\$billingRepository \\(Shopware\\\\Models\\\\Customer\\\\AddressRepository\\) does not accept Doctrine\\\\ORM\\\\EntityRepository\\<Shopware\\\\Models\\\\Customer\\\\Address\\>\\.$#"
			count: 1
			path: Components/ValidationService.php

		-
			message: "#^Property SwagVatIdValidation\\\\Components\\\\ValidationService\\:\\:\\$countryRepository \\(Shopware\\\\Models\\\\Country\\\\Repository\\) does not accept Doctrine\\\\ORM\\\\EntityRepository\\<Shopware\\\\Models\\\\Country\\\\Country\\>\\.$#"
			count: 1
			path: Components/ValidationService.php

		-
			message: "#^Strict comparison using \\=\\=\\= between string and null will always evaluate to false\\.$#"
			count: 1
			path: Components/ValidationService.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\Validators\\\\BffVatIdValidator\\:\\:addExtendedResults\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Components/Validators/BffVatIdValidator.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\Validators\\\\BffVatIdValidator\\:\\:createSimpleValidatorResult\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Components/Validators/BffVatIdValidator.php

		-
			message: "#^Parameter \\#1 \\$response of method SwagVatIdValidation\\\\Components\\\\Validators\\\\BffVatIdValidator\\:\\:addExtendedResults\\(\\) expects array, array\\|false given\\.$#"
			count: 1
			path: Components/Validators/BffVatIdValidator.php

		-
			message: "#^Parameter \\#1 \\$response of method SwagVatIdValidation\\\\Components\\\\Validators\\\\BffVatIdValidator\\:\\:createSimpleValidatorResult\\(\\) expects array, array\\|false given\\.$#"
			count: 1
			path: Components/Validators/BffVatIdValidator.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\Validators\\\\ExtendedBffVatIdValidator\\:\\:addExtendedResults\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Components/Validators/ExtendedBffVatIdValidator.php

		-
			message: "#^Cannot access property \\$traderAddress on array\\.$#"
			count: 2
			path: Components/Validators/ExtendedMiasVatIdValidator.php

		-
			message: "#^Cannot access property \\$traderName on array\\.$#"
			count: 1
			path: Components/Validators/ExtendedMiasVatIdValidator.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\Validators\\\\ExtendedMiasVatIdValidator\\:\\:addExtendedResults\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Components/Validators/ExtendedMiasVatIdValidator.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\Validators\\\\ExtendedMiasVatIdValidator\\:\\:isSimilar\\(\\) has parameter \\$string1 with no typehint specified\\.$#"
			count: 1
			path: Components/Validators/ExtendedMiasVatIdValidator.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\Validators\\\\ExtendedMiasVatIdValidator\\:\\:isSimilar\\(\\) has parameter \\$string2 with no typehint specified\\.$#"
			count: 1
			path: Components/Validators/ExtendedMiasVatIdValidator.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 4
			path: Components/Validators/ExtendedMiasVatIdValidator.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\Validators\\\\MiasVatIdValidator\\:\\:addExtendedResults\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Components/Validators/MiasVatIdValidator.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\Validators\\\\MiasVatIdValidator\\:\\:addExtendedResults\\(\\) has parameter \\$response with no typehint specified\\.$#"
			count: 1
			path: Components/Validators/MiasVatIdValidator.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\Validators\\\\SimpleBffVatIdValidator\\:\\:addExtendedResults\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Components/Validators/SimpleBffVatIdValidator.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\Validators\\\\SimpleMiasVatIdValidator\\:\\:addExtendedResults\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Components/Validators/SimpleMiasVatIdValidator.php

		-
			message: "#^Cannot call method getByPluginName\\(\\) on Shopware\\\\Components\\\\Plugin\\\\Configuration\\\\CachedReader\\|null\\.$#"
			count: 2
			path: Components/VatIdConfigReader.php

		-
			message: "#^Class Shopware\\\\Models\\\\Shop\\\\Shop constructor invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: Components/VatIdConfigReader.php

		-
			message: "#^Property SwagVatIdValidation\\\\Components\\\\VatIdConfigReader\\:\\:\\$cachedConfigReader \\(Shopware\\\\Components\\\\Plugin\\\\Configuration\\\\CachedReader\\|null\\) does not accept Shopware\\\\Components\\\\Plugin\\\\CachedConfigReader\\|null\\.$#"
			count: 1
			path: Components/VatIdConfigReader.php

		-
			message: "#^Cannot call method getIso\\(\\) on Shopware\\\\Models\\\\Country\\\\Country\\|null\\.$#"
			count: 1
			path: Components/VatIdCustomerInformation.php

		-
			message: "#^Parameter \\#1 \\$vatId of method SwagVatIdValidation\\\\Components\\\\VatIdInformation\\:\\:__construct\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: Components/VatIdCustomerInformation.php

		-
			message: "#^Property SwagVatIdValidation\\\\Components\\\\VatIdCustomerInformation\\:\\:\\$company \\(string\\) does not accept string\\|null\\.$#"
			count: 1
			path: Components/VatIdCustomerInformation.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\VatIdValidatorResult\\:\\:addError\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Components/VatIdValidatorResult.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\VatIdValidatorResult\\:\\:init\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Components/VatIdValidatorResult.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\VatIdValidatorResult\\:\\:setCityInvalid\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Components/VatIdValidatorResult.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\VatIdValidatorResult\\:\\:setCompanyInvalid\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Components/VatIdValidatorResult.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\VatIdValidatorResult\\:\\:setCountryInvalid\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Components/VatIdValidatorResult.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\VatIdValidatorResult\\:\\:setServiceUnavailable\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Components/VatIdValidatorResult.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\VatIdValidatorResult\\:\\:setStreetInvalid\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Components/VatIdValidatorResult.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\VatIdValidatorResult\\:\\:setVatIdInvalid\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Components/VatIdValidatorResult.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\VatIdValidatorResult\\:\\:setVatIdRequired\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Components/VatIdValidatorResult.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\VatIdValidatorResult\\:\\:setZipCodeInvalid\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Components/VatIdValidatorResult.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 9
			path: Components/VatIdValidatorResult.php

		-
			message: "#^Property SwagVatIdValidation\\\\Components\\\\VatIdValidatorResult\\:\\:\\$snippetManager \\(Shopware_Components_Snippet_Manager\\) does not accept Shopware_Components_Snippet_Manager\\|null\\.$#"
			count: 1
			path: Components/VatIdValidatorResult.php

		-
			message: "#^Method Shopware_Controllers_Widgets_SwagVatIdValidation\\:\\:modalInfoContentAction\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Controllers/Widgets/SwagVatIdValidation.php

		-
			message: "#^Method SwagVatIdValidation\\\\Subscriber\\\\CheckoutFinish\\:\\:onPostDispatchCheckout\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Subscriber/CheckoutFinish.php

		-
			message: "#^Method SwagVatIdValidation\\\\Subscriber\\\\CheckoutFinish\\:\\:onPreDispatchCheckout\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Subscriber/CheckoutFinish.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: Subscriber/CheckoutFinish.php

		-
			message: "#^Call to an undefined method Enlight_Event_EventArgs\\:\\:getSubject\\(\\)\\.$#"
			count: 1
			path: Subscriber/Forms.php

		-
			message: "#^Call to an undefined method object\\:\\:Request\\(\\)\\.$#"
			count: 1
			path: Subscriber/Login.php

		-
			message: "#^Cannot call method getId\\(\\) on Shopware\\\\Models\\\\Country\\\\Country\\|null\\.$#"
			count: 1
			path: Subscriber/Login.php

		-
			message: "#^Method SwagVatIdValidation\\\\Subscriber\\\\Login\\:\\:onLoginSuccessful\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Subscriber/Login.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: Subscriber/Login.php

		-
			message: "#^Parameter \\#1 \\$company of method SwagVatIdValidation\\\\Components\\\\ValidationServiceInterface\\:\\:isVatIdRequired\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: Subscriber/Login.php

		-
			message: "#^Parameter \\#1 \\$str of function trim expects string, string\\|null given\\.$#"
			count: 1
			path: Subscriber/Login.php

		-
			message: "#^Method SwagVatIdValidation\\\\Subscriber\\\\Template\\:\\:onPostDispatchFrontendAccount\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Subscriber/Template.php

		-
			message: "#^Method SwagVatIdValidation\\\\Subscriber\\\\Template\\:\\:onPostDispatchFrontendCheckout\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Subscriber/Template.php

		-
			message: "#^Method SwagVatIdValidation\\\\Subscriber\\\\Template\\:\\:onPostDispatchFrontendRegister\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Subscriber/Template.php

		-
			message: "#^Method SwagVatIdValidation\\\\Subscriber\\\\Template\\:\\:onTemplatesCollected\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Subscriber/Template.php

		-
			message: "#^Method SwagVatIdValidation\\\\Subscriber\\\\Template\\:\\:postDispatchFrontendController\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Subscriber/Template.php

		-
			message: "#^Method SwagVatIdValidation\\\\SwagVatIdValidation\\:\\:activate\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: SwagVatIdValidation.php

		-
			message: "#^Method SwagVatIdValidation\\\\SwagVatIdValidation\\:\\:deactivate\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: SwagVatIdValidation.php

		-
			message: "#^Method SwagVatIdValidation\\\\SwagVatIdValidation\\:\\:install\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: SwagVatIdValidation.php

		-
			message: "#^Method SwagVatIdValidation\\\\SwagVatIdValidation\\:\\:uninstall\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: SwagVatIdValidation.php

		-
			message: "#^Call to an undefined method Enlight_Plugin_PluginManager\\:\\:Core\\(\\)\\.$#"
			count: 1
			path: Tests/Bootstrap.php

		-
			message: "#^Parameter \\#1 \\$sql of method Doctrine\\\\DBAL\\\\Connection\\:\\:exec\\(\\) expects string, string\\|false given\\.$#"
			count: 5
			path: Tests/Funtional/Components/IsoServiceTest.php

		-
			message: "#^Parameter \\#1 \\$company of method SwagVatIdValidation\\\\Components\\\\ValidationService\\:\\:isVatIdRequired\\(\\) expects string, null given\\.$#"
			count: 1
			path: Tests/Funtional/Components/ValidationServiceTest.php

		-
			message: "#^Method SwagVatIdValidation\\\\Tests\\\\Functional\\\\Components\\\\VatIdConfigReaderTest\\:\\:testGetPluginConfigLegacy\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Tests/Funtional/Components/VatIdConfigReaderTest.php

		-
			message: "#^Method SwagVatIdValidation\\\\Tests\\\\Functional\\\\Components\\\\VatIdConfigReaderTest\\:\\:testGetPluginConfigShopware57andAbove\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Tests/Funtional/Components/VatIdConfigReaderTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 2
			path: Tests/Funtional/Components/VatIdConfigReaderTest.php

