parameters:
	ignoreErrors:
		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\EUStates\\:\\:getEUCountryList\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/EUStates.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\IsoService\\:\\:getCountriesIsoList\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/IsoService.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\IsoService\\:\\:getCountryIdsFromIsoList\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/IsoService.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\IsoService\\:\\:removeDisabledCountries\\(\\) has parameter \\$euCountryList with no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/IsoService.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\IsoService\\:\\:removeDisabledCountries\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/IsoService.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\IsoServiceInterface\\:\\:getCountriesIsoList\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/IsoServiceInterface.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\IsoServiceInterface\\:\\:getCountryIdsFromIsoList\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/IsoServiceInterface.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\Validators\\\\BffVatIdValidator\\:\\:addExtendedResults\\(\\) has parameter \\$response with no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/Validators/BffVatIdValidator.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\Validators\\\\BffVatIdValidator\\:\\:createSimpleValidatorResult\\(\\) has parameter \\$response with no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/Validators/BffVatIdValidator.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\Validators\\\\ExtendedBffVatIdValidator\\:\\:addExtendedResults\\(\\) has parameter \\$response with no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/Validators/ExtendedBffVatIdValidator.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\Validators\\\\SimpleBffVatIdValidator\\:\\:addExtendedResults\\(\\) has parameter \\$response with no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/Validators/SimpleBffVatIdValidator.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\Validators\\\\ValidatorFactory\\:\\:__construct\\(\\) has parameter \\$validators with no value type specified in iterable type IteratorAggregate\\.$#"
			count: 1
			path: Components/Validators/ValidatorFactory.php

		-
			message: "#^Property SwagVatIdValidation\\\\Components\\\\Validators\\\\ValidatorFactory\\:\\:\\$validators type has no value type specified in iterable type IteratorAggregate\\.$#"
			count: 1
			path: Components/Validators/ValidatorFactory.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\VatIdConfigReader\\:\\:getPluginConfig\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/VatIdConfigReader.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\VatIdConfigReaderInterface\\:\\:getPluginConfig\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/VatIdConfigReaderInterface.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\VatIdValidatorResult\\:\\:getErrorFlags\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/VatIdValidatorResult.php

		-
			message: "#^Method SwagVatIdValidation\\\\Components\\\\VatIdValidatorResult\\:\\:getErrorMessages\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/VatIdValidatorResult.php

		-
			message: "#^Property SwagVatIdValidation\\\\Components\\\\VatIdValidatorResult\\:\\:\\$errors type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/VatIdValidatorResult.php

		-
			message: "#^Property SwagVatIdValidation\\\\Components\\\\VatIdValidatorResult\\:\\:\\$flags type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/VatIdValidatorResult.php

		-
			message: "#^Method SwagVatIdValidation\\\\Subscriber\\\\Template\\:\\:getAssignedErrors\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Subscriber/Template.php

		-
			message: "#^Method SwagVatIdValidation\\\\Subscriber\\\\Template\\:\\:handleEdit\\(\\) has parameter \\$assignedErrors with no value type specified in iterable type array\\.$#"
			count: 1
			path: Subscriber/Template.php

		-
			message: "#^Method SwagVatIdValidation\\\\Subscriber\\\\Template\\:\\:handleRegister\\(\\) has parameter \\$assignedErrors with no value type specified in iterable type array\\.$#"
			count: 1
			path: Subscriber/Template.php
